@import url("https://fonts.googleapis.com/css2?family=DM+Mono&family=DM+Sans:wght@500&family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono&family=DM+Sans:wght@500;700&family=DM+Serif+Display&display=swap");
/* ==========================================
              Website Resets
============================================= */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

*::-moz-focus-inner {
  border: 0;
}

*:focus {
  outline: none;
}

/*=============================================
         root, html,  and body styles
================================================*/
:root {
  --clr-primary-100: hsla(210, 67%, 98%, 100%);
  --clr-primary-200: hsla(210, 67%, 86%, 100%);
  --clr-primary-300: hsla(210, 67%, 68%, 100%);
  --clr-primary-400: hsla(210, 68%, 60%, 100%);
  --clr-primary-500: hsla(210, 67%, 44%, 100%);
  --clr-primary-600: hsla(210, 67%, 39%, 100%);
  --clr-primary-700: hsla(210, 67%, 34%, 100%);
  --clr-primary-800: hsla(210, 67%, 29%, 100%);
  --clr-secondary-100: hsla(43, 59%, 92%, 100%);
  --clr-secondary-200: hsla(43, 59%, 86%, 100%);
  --clr-secondary-300: hsla(43, 59%, 80%, 100%);
  --clr-secondary-400: hsla(43, 59%, 74%, 100%);
  --clr-secondary-500: hsla(43, 59%, 68%, 100%);
  --clr-secondary-600: hsla(43, 59%, 62%, 100%);
  --clr-secondary-700: hsla(43, 59%, 56%, 100%);
  --clr-secondary-800: hsla(43, 59%, 50%, 100%);
  --clr-tertiary-100: hsla(30, 96%, 62%, 100%);
  --clr-tertiary-200: hsla(30, 96%, 59%, 100%);
  --clr-tertiary-300: hsla(30, 96%, 56%, 100%);
  --clr-tertiary-400: hsla(30, 96%, 53%, 100%);
  --clr-tertiary-500: hsla(30, 96%, 50%, 100%);
  --clr-tertiary-600: hsla(30, 96%, 47%, 100%);
  --clr-tertiary-700: hsla(30, 96%, 44%, 100%);
  --clr-tertiary-800: hsla(30, 96%, 41%, 100%);
  --clr-accent-100: hsla(71, 85%, 50%, 100%);
  --clr-accent-200: hsla(71, 85%, 47%, 100%);
  --clr-accent-300: hsla(71, 85%, 44%, 100%);
  --clr-accent-400: hsla(71, 85%, 41%, 100%);
  --clr-accent-500: hsla(71, 85%, 38%, 100%);
  --clr-accent-600: hsla(71, 85%, 35%, 100%);
  --clr-accent-700: hsla(71, 85%, 32%, 100%);
  --clr-accent-800: hsla(71, 85%, 29%, 100%);
  --clr-neutral-100: hsla(0, 0%, 98%, 100%);
  --clr-neutral-200: hsla(0, 0%, 94%, 100%);
  --clr-neutral-300: hsla(0, 0%, 85%, 100%);
  --clr-neutral-400: hsla(0, 0%, 75%, 100%);
  --clr-neutral-500: hsla(0, 0%, 60%, 100%);
  --clr-neutral-600: hsla(0, 0%, 38%, 100%);
  --clr-neutral-700: hsla(0, 0%, 19%, 100%);
  --clr-neutral-800: hsla(0, 0%, 7%, 100%);
  --clr-augmented-100: hsla(210, 15%, 58%, 100%);
  --clr-augmented-200: hsla(210, 11%, 50%, 100%);
  --clr-augmented-300: hsla(210, 11%, 36%, 100%);
  --clr-augmented-400: hsla(210, 25%, 19%, 100%);
  --clr-assigned-01: var(--clr-primary-800);
  --clr-assigned-02: var(--clr-secondary-800);
  --clr-assigned-03: var(--clr-tertiary-800);
  --clr-assigned-04: var(--clr-accent-800);
  --clr-assigned-05: var(--clr-augmented-400);
  --clr-assigned-06: var(--clr-augmented-300);
  --clr-assigned-07: var(--clr-augmented-200);
  --clr-assigned-08: var(--clr-augmented-100);
  --clr-assigned-09: var(--clr-neutral-500);
  --clr-assigned-10: var(--clr-neutral-400);
  --clr-assigned-11: var(--clr-neutral-300);
  --clr-assigned-12: var(--clr-neutral-200);
  --clr-assigned-13: var(--clr-neutral-600);
  --ff-font-head: "DM Serif Display", serif;
  --ff-font-number: "DM Sans", sans-serif;
  --ff-font-display: "DM Mono", monospace;
  --fw-font-weight-400: 400;
  --fw-font-weight-500: 500;
  --fw-font-weight-700: 700;
  --ls-letter-spacing: 1px;
  --br-border-radius: 5px;
}

html {
  font-size: 100%;
}

@media only screen and (max-width: 420px) {
  html {
    font-size: 83.333%;
  }
}
@media only screen and (max-width: 360px) {
  html {
    font-size: 66.667%;
  }
}
body {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--ff-font-body);
  font-weight: var(--fw-font-weight-400);
  font-size: 1rem;
  letter-spacing: var(--ls-letter-spacing);
  color: var(--clr-augmented-400);
  background-image: radial-gradient(circle, var(--clr-primary-100) 28%, var(--clr-primary-200) 100%);
  transition: filter 0.5s;
}

@media only screen and (max-width: 540px) {
  body {
    background: var(--clr-augmented-100);
    overflow: hidden;
  }
}
h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: var(--ff-font-body);
  font-weight: var(--fw-font-weight-400);
  line-height: 1;
}

h1 {
  margin-top: 0;
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.9rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

p {
  margin-bottom: 1rem;
}

small, .text_small {
  font-size: 0.8rem;
}

input {
  font-family: var(--ff-font-display);
}

*::placeholder,
input::placeholder {
  color: var(--clr-augmented-200);
}

.interim:empty:before {
  content: attr(data-placeholder);
  color: var(--clr-augmented-200);
}

body {
  height: 100vh;
  width: 100vw;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.calculator {
  width: 400px;
  margin: 0 auto;
}

.calculator-history,
.calculator-expression {
  font-family: var(--ff-font-display);
}

#title-text {
  font-size: 24px;
  color: black;
}

.calculator-buttons {
  height: 600px;
  width: 400px;
  display: grid;
  grid-template-areas: "FAC EUC PIE PHI ACC" "ROU SNV CNV TNV BCC" "POW SIN COS TAN DIV" "XNV COM PRO PRC MUL" "XSQ SEV EIG NIN SUB" "LG2 FOU FIV SIX ADD" "LG1 ONE TWO THR EQU" "NLG PMM ZEO DEC EQU";
}

.calculator-button {
  font-family: var(--ff-font-number);
  font-weight: var(--fw-font-weight-700) !important;
  font-size: 1.25rem;
}

.number-btn {
  background-color: var(--clr-assigned-11);
  color: var(--clr-neutral-800);
}

#factorial {
  grid-area: FAC;
  background-color: var(--clr-assigned-13);
  color: var(--clr-assigned-12);
}

#euclidean {
  grid-area: EUC;
  background-color: var(--clr-assigned-08);
  color: var(--clr-assigned-12);
}

#pi {
  grid-area: PIE;
  background-color: var(--clr-assigned-08);
  color: var(--clr-assigned-12);
}

#phi {
  grid-area: PHI;
  background-color: var(--clr-assigned-08);
  color: var(--clr-assigned-12);
}

#backspace {
  grid-area: BCC;
  background-color: var(--clr-assigned-04);
  color: var(--clr-assigned-12);
}

#square-route {
  grid-area: ROU;
  background-color: var(--clr-assigned-13);
  color: var(--clr-assigned-12);
}

#sine-inverse {
  grid-area: SNV;
  background-color: var(--clr-assigned-13);
  color: var(--clr-assigned-12);
}

#cosine-inverse {
  grid-area: CNV;
  background-color: var(--clr-assigned-13);
  color: var(--clr-assigned-12);
}

#tan-inverse {
  grid-area: TNV;
  background-color: var(--clr-assigned-13);
  color: var(--clr-assigned-12);
}

#clear {
  grid-area: ACC;
  background-color: var(--clr-assigned-01);
  color: var(--clr-assigned-12);
}

#power {
  grid-area: POW;
  background-color: var(--clr-assigned-13);
  color: var(--clr-assigned-12);
}

#sine {
  grid-area: SIN;
  background-color: var(--clr-assigned-13);
  color: var(--clr-assigned-12);
}

#cosine {
  grid-area: COS;
  background-color: var(--clr-assigned-13);
  color: var(--clr-assigned-12);
}

#tangent {
  grid-area: TAN;
  background-color: var(--clr-assigned-13);
  color: var(--clr-assigned-12);
}

#divide {
  grid-area: DIV;
  background-color: var(--clr-assigned-09);
  color: var(--clr-assigned-12);
}

#x-inverse {
  grid-area: XNV;
  background-color: var(--clr-assigned-13);
  color: var(--clr-assigned-12);
}

#comma {
  grid-area: COM;
  font-size: 32px;
  background-color: var(--clr-assigned-13);
  color: var(--clr-assigned-12);
}

#parenthesis-open {
  grid-area: PRO;
  font-size: 24px;
  background-color: var(--clr-assigned-13);
  color: var(--clr-assigned-12);
}

#parenthesis-close {
  grid-area: PRC;
  font-size: 24px;
  background-color: var(--clr-assigned-13);
  color: var(--clr-assigned-12);
}

#multiply {
  grid-area: MUL;
  background-color: var(--clr-assigned-09);
  color: var(--clr-assigned-12);
}

#x-squared {
  grid-area: XSQ;
  background-color: var(--clr-assigned-13);
  color: var(--clr-assigned-12);
}

#seven {
  grid-area: SEV;
}

#eight {
  grid-area: EIG;
}

#nine {
  grid-area: NIN;
}

#subtract {
  grid-area: SUB;
  background-color: var(--clr-assigned-09);
  color: var(--clr-assigned-12);
}

#log-two {
  grid-area: LG2;
  background-color: var(--clr-assigned-13);
  color: var(--clr-assigned-12);
}

#four {
  grid-area: FOU;
}

#five {
  grid-area: FIV;
}

#six {
  grid-area: SIX;
}

#log-ten {
  grid-area: LG1;
  background-color: var(--clr-assigned-13);
  color: var(--clr-assigned-12);
}

#addition {
  grid-area: ADD;
  background-color: var(--clr-assigned-09);
  color: var(--clr-assigned-12);
}

#one {
  grid-area: ONE;
}

#two {
  grid-area: TWO;
}

#three {
  grid-area: THR;
}

#equal {
  grid-area: EQU;
  font-size: 32px;
  background-color: var(--clr-assigned-03);
  color: var(--clr-assigned-12);
}

#natural-log {
  grid-area: NLG;
  background-color: var(--clr-assigned-13);
  color: var(--clr-assigned-12);
}

#plus-minus {
  grid-area: PMM;
  font-size: 32px;
}

#zero {
  grid-area: ZEO;
}

#decimal {
  grid-area: DEC;
  font-size: 32px;
}

/*# sourceMappingURL=main.css.map */
